In [ ]:
# On importe les librairies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

---
# 3. INTERFACE
---

---
## 3.1. Recherche par titre
---

In [ ]:
import RECHERCHE_A_PARTIR_DE_TITRE as mp #on importe le module
title=input("Entrez le titre d’un film ou d’une série svp: \n ") #on demande à l'utilisateur son critère de recherche
sortie1= mp.title_search(title) 
print(sortie1) #on affiche les résultats

---
## 3.2. Recherche par nom d'acteur/actrice
---

In [ ]:
import RECHERCHE_A_PARTIR_DU_NOM_ACTEUR as mr #on importe le module
cast=input("Entrez le nom d'un acteur svp: \n ") #on demande à l'utilisateur son critère de recherche
sortie2= mr.Paracteur(cast)
print(sortie2) #on affiche les résultats

---
## 3.3. Recherche par type et genre
---

In [2]:
import RECHERCHE_A_PARTIR_DU_TYPE_GENRE as mk #on importe le module
print("ATTENTION!: \n Conditions à respecter:  \n 1. Pour les Movie ecrivez Film et pour les TV Show - Série !  \n 2. Si le gendre contient 2 mots, ecrivez-le sans espace svp !   \n")
t=input("Entrez le type du contenu : \n") #on demande à l'utilisateur son critère de recherche
g=input("Entrez le genre du contenu : \n") #on demande à l'utilisateur son critère de recherche
sortie3= mk.searchbyTG(t, g)
print(sortie3) #on affiche les résultats

ATTENTION!:
 Conditions à respecter:
 1. Pour les Movie ecrivez Film et pour les TV Show - Série !
 2. Si le gendre contient 2 mots, ecrivez-le sans espace svp !

Entrez le type du contenu :
 Film
Entrez le genre du contenu :
 Comedy

Il y a 1821 films qui correspondent à vos attentes sur Amazon Prime, 380 films sur Disney+ et 343 films sur Netflix.

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plateforme
5502,s5503,Movie,Love Of Fate: Amore Fati,Treagen Kier,"Coke Horner, Sigh Bleu, Aiko Melissa, Nigel Mo...",NaN,NaN,2021,18+,46 min,"Comedy, Romance",A persons position shapes their perspective. T...,Amazon prime
7161,s7162,Movie,Middletown,Jay Leonard,"Jesse Lawrence, Suzanna Bornn, Jeff Raiano, De...",NaN,NaN,2021,16+,113 min,"Comedy, Drama","On the eve of their 20th high school reunion, ...",Amazon prime
6876,s6877,Movie,The Misadventures of Mistress Maneater,C.J. Julianus,"Lorrisa Julianus, Mickey O'Sullivan, Shannon B...",NaN,NaN,2021,16+,111 min,"Comedy, Romance","With only 30 days to repay a massive loan, a d...",Amazon prime

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plateforme
214,s215,Movie,Flora & Ulysses,Lena Khan,"Matilda Lawler, Alyson Hannigan, Ben Schwartz,...",United States,"February 19, 2021",2021,PG,95 min,"Comedy, Coming of Age, Drama",Comic book fan Flora saves a squirrel whose su...,Disney plus
146,s147,Movie,"Maggie Simpson in ""The Force Awakens from its ...",David Silverman,NaN,NaN,"May 4, 2021",2021,TV-PG,4 min,"Animation, Comedy, Parody","In a daycare far, far away… but still in Sprin...",Disney plus
95,s96,Movie,"The Good, The Bart, and The Loki",David Silverman,"Dan Castellaneta, Nancy Cartwright, Yeardley S...",NaN,"July 7, 2021",2021,TV-PG,6 min,"Animation, Comedy, Parody","Banished from Asgard once again, Loki takes on...",Disney plus

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plateforme
278,s279,Movie,Lokillo: Nothing's the Same,Julián Gaviria,Lokillo Florez,Colombia,"August 12, 2021",2021,TV-MA,64 min,Stand-Up Comedy,"Through songs and puns, comedian Lokillo Flore...",Netflix
1172,s1173,Movie,Loyiso Gola: Unlearning,Kagiso Lediga,Loyiso Gola,South Africa,"March 23, 2021",2021,TV-MA,60 min,Stand-Up Comedy,South African comedian Loyiso Gola serves up f...,Netflix
1418,s1419,Movie,Chris Rock Total Blackout: The Tamborine Exten...,Chris Rock,Chris Rock,NaN,"January 12, 2021",2021,TV-MA,98 min,Stand-Up Comedy,"In this extended cut of his 2018 special, Chri...",Netflix

(None, None, None)

---
## 3.4. Suggestion par critère
---

In [3]:
import SUGGESTION_SELON_PREFERENCES as ml #on importe le module
a=input("Entrez le type d’un film ou d’une série : \n") #on demande à l'utilisateur son critère de recherche
b=input("Entrez le genre d’un film ou d’une série : \n") #on demande à l'utilisateur son critère de recherche
c=input("Entrez la note d’un film ou d’une série : \n") #on demande à l'utilisateur son critère de recherche
d=input("Entrez le nom d'un pays : \n") #on demande à l'utilisateur son critère de recherche
e=input("Entrez le nom d'un acteur : \n") #on demande à l'utilisateur son critère de recherche

sortie4= ml.préférences_search(a, b, c, d, e)
print(sortie4) #on affiche les résultats

C:\Users\Camil\anaconda3\PYTHON\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
4878,pinkfong! sports club,TV Show,"[Animation, Kids]",[nan],Amazon prime,2021,What sports do you enjoy the most? Pinkfong an...,[nan],NaN
4882,"love, millennial style",TV Show,[Comedy],[nan],Amazon prime,2021,A digital anthology comedy series starring a l...,"[Anthony Bradford, Jenna Bowers, Zuri James,...",NaN
7933,pequeñas victorias,TV Show,[Drama],[nan],Amazon prime,2021,"Jazmín, Emma and Bárbara distance themselves f...",[nan],NaN
9043,gali - hell is empty,TV Show,[Horror],[nan],Amazon prime,2021,Dhruv and Deekha's love life and marriage life...,"[Manoj Nandan, Tanya Choudhury, Naval Kishor...",NaN
7922,boris and rufus,TV Show,"[Animation, Kids]",[nan],Amazon prime,2021,The series follows life and adventures in the ...,[nan],NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
114,loki,TV Show,"[Action-Adventure, Fantasy, Science Fiction]",[nan],Disney plus,2021,The mercurial villain Loki (Tom Hiddleston) re...,[Tom Hiddleston],NaN
104,dino ranch,TV Show,"[Animation, Kids, Western]",[Canada],Disney plus,2021,"Join the Cassidy family on their ""prewestoric""...","[Tyler Nathan, Jacob Mazeral, Ava Ro, Scott...",NaN
102,the mysterious benedict society,TV Show,"[Action-Adventure, Family]",[United States],Disney plus,2021,Four gifted orphans are recruited by the eccen...,"[Tony Hale, Kristen Schaal, Mystic Inscho, ...",NaN
94,monsters at work,TV Show,"[Animation, Comedy, Family]",[United States],Disney plus,2021,"""Monsters at Work"" tells the story of Tylor Tu...","[Billy Crystal, John Goodman, Ben Feldman, ...",NaN
92,breaking bobby bones,TV Show,"[Action-Adventure, Docuseries, Reality]",[United States],Disney plus,2021,Bobby Bones travels to meet local heroes who c...,[Bobby Bones],NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
1212,worn stories,TV Show,"[Docuseries, Reality TV]",[United States],Netflix,2021,"In this funny, heartfelt and moving docuseries...",[nan],NaN
860,the platform,TV Show,"[International TV Shows, TV Dramas, TV Myste...",[United Arab Emirates],Netflix,2021,"A programming genius builds a fact-finding, tr...","[Maxim Khalil, Abdulmohsen Alnemr, Samr Isma...",NaN
802,creator's file: gold,TV Show,"[International TV Shows, TV Comedies]",[Japan],Netflix,2021,Comedian Ryuji Akiyama satirizes top “creators...,"[Ryuji Akiyama, Ryusei Yokohama, Yumi Adachi...",NaN
806,pretty guardian sailor moon eternal the movie,TV Show,[TV Shows],[nan],Netflix,2021,When a dark power enshrouds the Earth after a ...,"[Kotono Mitsuishi, Hisako Kanemoto, Rina Sat...",NaN
807,summertime,TV Show,"[International TV Shows, Romantic TV Shows, ...",[Italy],Netflix,2021,Two young adults from very different backgroun...,"[Coco Rebecca Edogamhe, Ludovico Tersigni, A...",3.7

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
9023,villa bella,Movie,Comedy,[nan],Amazon prime,2021,3 unemployed young women's life will forever c...,"[Alessandro Bressanello, Samantha Castillo, ...",NaN
4882,"love, millennial style",TV Show,Comedy,[nan],Amazon prime,2021,A digital anthology comedy series starring a l...,"[Anthony Bradford, Jenna Bowers, Zuri James,...",NaN
9035,phone call,Movie,Comedy,[nan],Amazon prime,2021,Two unknown people who love movies discuss a h...,"[Ravikanth, Prasad]",NaN
9022,y'all not laughing yet?,Movie,Comedy,[nan],Amazon prime,2021,Five comics are trying to use Mr. and Mrs. Wri...,"[Raymelle A Adams, Jennifer Chandler, Joey Z...",NaN
8990,small town remedies,Movie,Comedy,[nan],Amazon prime,2021,Small Town Remedies is a dramatic comedy about...,"[Andrea Dratch, Ty Sells, Sally Knudsen, R....",NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
191,the mighty ducks: game changers,TV Show,Comedy,[nan],Disney plus,2021,A new group of misfits rediscovers the joys of...,[nan],NaN
160,big shot,TV Show,Comedy,[nan],Disney plus,2021,"After being ousted from NCAA, a men’s basketba...","[John Stamos, Jessalyn Gilsig, Yvette Nicole...",NaN
214,flora & ulysses,Movie,Comedy,[United States],Disney plus,2021,Comic book fan Flora saves a squirrel whose su...,"[Matilda Lawler, Alyson Hannigan, Ben Schwar...",NaN
17,far away from raven’s home,Movie,Comedy,[nan],Disney plus,2021,Our gang is off for an exotic vacation of a li...,"[Raven-Symoné, Issac Ryan Brown, Navia Robin...",NaN
20,"doogie kamealoha, m.d.",TV Show,Comedy,[United States],Disney plus,2021,A 16-year-old prodigy juggles her budding medi...,"[Peyton Elizabeth Lee, Emma Meisel, Matthew ...",NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
803,dancing queens,Movie,Comedies,[Sweden],Netflix,2021,A dancer who gets a job cleaning at a struggli...,"[Molly Nutley, Fredrik Quiñones, Marie Göran...",NaN
820,carnaval,Movie,Comedies,[Brazil],Netflix,2021,"After a breakup, an influencer takes her frien...","[Giovana Cordeiro, Gkay, Bruna Inocencio, S...",NaN
868,one lagos night,Movie,Comedies,[nan],Netflix,2021,A desperate man attempts to burglarize the hom...,"[Frank Donga, Gold Ikponmwosa, Ali Nuhu, En...",NaN
799,trippin' with the kandasamys,Movie,Comedies,[South Africa],Netflix,2021,"To rekindle their marriages, best friends-turn...","[Jailoshini Naidoo, Maeshni Naicker, Madhush...",NaN
770,sarbath,Movie,Comedies,[India],Netflix,2021,When a city man returns to his native village ...,"[Kathir, Soori, Rahasya Gorak, Ashvatt]",NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
9461,zana,Movie,[Drama],"[Kosovo, Albania, United States, Georgia]",Amazon prime,2020,Haunted by her long suppressed past and pressu...,"[Adriana Matoshi, Astrit Kabashi, Fatmire Sa...",9.1
6266,delaware shore,Movie,"[Drama, Horror]",[nan],Amazon prime,2018,A Holocaust survivor who escapes the concentra...,"[Francis, Portsmith, Ed Aristone, Emily McK...",9.1
5530,fan,Movie,"[Drama, International, Suspense]",[India],Amazon prime,2016,FAN is the story of Gaurav (Shah Rukh Khan) a ...,"[Shah Rukh Khan, Sayani Gupta, Shriya Pilgao...",9.2
8143,breakout,Movie,"[Action, Suspense]",[nan],Amazon prime,2013,A pair of criminals try to track down the kids...,"[Brendan Fraser, Dominic Purcell, Ethan Supl...",9.0

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
411,hamilton,Movie,"[Biographical, Historical, Musical]",[United States],Disney plus,2020,The filmed version of Broadway original “Hamil...,"[Daveed Diggs, Renée Goldsberry, Jonathan Gr...",8.7
566,the lion king,Movie,"[Action-Adventure, Coming of Age, Drama]","[United States, United Kingdom, South Africa]",Disney plus,2019,Disney’s The Lion King comes to life in a whol...,"[Donald Glover, Seth Rogen, Chiwetel Ejiofor...",8.5
637,coco,Movie,"[Animation, Family, Fantasy]",[United States],Disney plus,2017,Miguel journeys to the magical land of his anc...,"[Anthony Gonzalez, Gael Bernal, Benjamin Bra...",8.4
916,inside out,Movie,"[Animation, Coming of Age, Family]",[United States],Disney plus,2015,Five Emotions must work overtime when a young ...,"[Amy Poehler, Phyllis Smith, Richard Kind, ...",8.1
1369,up,Movie,"[Action-Adventure, Animation, Buddy]",[United States],Disney plus,2009,An unlikely pair set to the sky for the advent...,"[Ed Asner, Christopher Plummer, Jordan Nagai...",8.2

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
2104,baby,TV Show,"[International TV Shows, TV Dramas, Teen TV ...",[Italy],Netflix,2020,"Fed up with their families and classmates, two...","[Benedetta Porcaroli, Alice Pagani, Riccardo...",8.0
3834,uyare,Movie,"[Dramas, International Movies]",[India],Netflix,2019,An aspiring pilot fights for her future – and ...,"[Parvathy, Asif Ali, Tovino Thomas, Siddiqu...",8.0
3472,mallesham,Movie,"[Dramas, Independent Movies, International M...",[India],Netflix,2019,"A self-trained engineer risks debt, love and r...","[Jhansi, Priyadarshi Pullikonda, Ananya Naga...",8.5
3454,brother,Movie,"[Dramas, Independent Movies, International M...",[France],Netflix,2019,Thrust from a violent home into a brutal custo...,"[MHD, Darren Muselet, Aïssa Maïga, Jalil Le...",8.0
3532,oththa seruppu size 7,Movie,"[Dramas, International Movies, Thrillers]",[India],Netflix,2019,"Taken into custody, a murder suspect's theatri...",[Parthiban],8.6

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
8902,voltaire high,TV Show,Drama,France,Amazon prime,2021,It’s the first day of the 1963 school year at ...,"[Pierre Deladonchamps, Nina Meurisse, Maud W...",NaN
8846,brutus vs cesar,Movie,Comedy,France,Amazon prime,2020,Faced with the tyranny of Caesar who acts as a...,"[Kheiron, Thierry Lhermitte, Gérard Darmon, ...",NaN
12,the night eats the world,Movie,"Horror, Suspense",France,Amazon prime,2018,After waking up in an apartment the night afte...,"[Anders Danielsen Lie, Golshifteh Farahani, ...",NaN
3788,"don't worry, he won't get far on foot",Movie,"Arthouse, Comedy, Drama",France,Amazon prime,2018,On the rocky path to sobriety after a life-cha...,"[Joaquin Phoenix, Jonah Hill, Rooney Mara, ...",NaN
9961,moonwalkers,Movie,"Action, Comedy",France,Amazon prime,2015,After failing to locate the legendary Stanley ...,"[Rupert Grint, Ron Perlman, Robert Sheehan]",6.1

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
35,gigantosaurus,TV Show,"Action-Adventure, Animation, Kids",France,Disney plus,2018,Four dinos explore the mystery of the Gigantos...,"[Dylan Schombing, Áine Sunderland, Nahanni M...",NaN
237,700 sharks,Movie,"Animals & Nature, Documentary",France,Disney plus,2018,Follow an international team of scientists in ...,[Paul Bandey],NaN
442,japan: between earth and sky,TV Show,"Animals & Nature, Docuseries",France,Disney plus,2017,Japan: Between Earth and Sky reveals the myste...,[Bray Poor],NaN
14,miraculous: tales of ladybug & cat noir,TV Show,"Action-Adventure, Animation, Fantasy",France,Disney plus,2015,Superheroes Ladybug and Cat Noir protect the c...,"[Cristina Vee, Bryce Papenbrook, Keith Silve...",NaN
100,pj masks,TV Show,"Action-Adventure, Animation, Kids",France,Disney plus,2015,Look out Night Time Baddies the PJ Masks are c...,"[Kyle Breitkopf, Jacob Ursomarzo, Addison Ho...",NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
769,lupin,TV Show,"Crime TV Shows, International TV Shows, TV Act...",France,Netflix,2021,"Inspired by the adventures of Arsène Lupin, ge...","[Omar Sy, Ludivine Sagnier, Clotilde Hesme, ...",NaN
950,oxygen,Movie,"Dramas, International Movies, Thrillers",France,Netflix,2021,"After waking up in a cryogenic unit, Liz fight...","[Mélanie Laurent, Mathieu Amalric, Malik Zidi]",6.1
951,oxygen,Movie,"Dramas, International Movies, Thrillers",France,Netflix,2021,"After waking up in a cryogenic unit, Liz fight...","[Mélanie Laurent, Mathieu Amalric, Malik Zidi]",5.4
1293,dealer,TV Show,"Crime TV Shows, International TV Shows, TV Act...",France,Netflix,2021,Tensions erupt when two filmmakers infiltrate ...,"[Abdramane Diakité, Mohamed Boudouh, Sébasti...",6.3
1294,dealer,TV Show,"Crime TV Shows, International TV Shows, TV Act...",France,Netflix,2021,Tensions erupt when two filmmakers infiltrate ...,"[Abdramane Diakité, Mohamed Boudouh, Sébasti...",6.9

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
8846,brutus vs cesar,Movie,Comedy,France,Amazon prime,2020,Faced with the tyranny of Caesar who acts as a...,Kheiron,NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
338,notre dame: race against the inferno,Movie,Documentary,"United Kingdom, France",Disney plus,2019,"On April 15, 2019, Paris’ firefighters gave ev...",Paul Bandey,NaN
237,700 sharks,Movie,"Animals & Nature, Documentary",France,Disney plus,2018,Follow an international team of scientists in ...,Paul Bandey,NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
6129,einsatzgruppen: the nazi death squads,TV Show,"Docuseries, International TV Shows",France,Netflix,2009,This documentary series examines the Einsatzgr...,Paul Bandey,NaN

Entrez le type d’un film ou d’une série :
 Movie
Entrez le genre d’un film ou d’une série :
 Comedy
Entrez la note d’un film ou d’une série :
 8
Entrez le nom d'un pays :
 France
Entrez le nom d'un acteur :
 Kheiron

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
4878,pinkfong! sports club,TV Show,"[Animation, Kids]",[nan],Amazon prime,2021,What sports do you enjoy the most? Pinkfong an...,[nan],NaN
4882,"love, millennial style",TV Show,[Comedy],[nan],Amazon prime,2021,A digital anthology comedy series starring a l...,"[Anthony Bradford, Jenna Bowers, Zuri James,...",NaN
7933,pequeñas victorias,TV Show,[Drama],[nan],Amazon prime,2021,"Jazmín, Emma and Bárbara distance themselves f...",[nan],NaN
9043,gali - hell is empty,TV Show,[Horror],[nan],Amazon prime,2021,Dhruv and Deekha's love life and marriage life...,"[Manoj Nandan, Tanya Choudhury, Naval Kishor...",NaN
7922,boris and rufus,TV Show,"[Animation, Kids]",[nan],Amazon prime,2021,The series follows life and adventures in the ...,[nan],NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
114,loki,TV Show,"[Action-Adventure, Fantasy, Science Fiction]",[nan],Disney plus,2021,The mercurial villain Loki (Tom Hiddleston) re...,[Tom Hiddleston],NaN
104,dino ranch,TV Show,"[Animation, Kids, Western]",[Canada],Disney plus,2021,"Join the Cassidy family on their ""prewestoric""...","[Tyler Nathan, Jacob Mazeral, Ava Ro, Scott...",NaN
102,the mysterious benedict society,TV Show,"[Action-Adventure, Family]",[United States],Disney plus,2021,Four gifted orphans are recruited by the eccen...,"[Tony Hale, Kristen Schaal, Mystic Inscho, ...",NaN
94,monsters at work,TV Show,"[Animation, Comedy, Family]",[United States],Disney plus,2021,"""Monsters at Work"" tells the story of Tylor Tu...","[Billy Crystal, John Goodman, Ben Feldman, ...",NaN
92,breaking bobby bones,TV Show,"[Action-Adventure, Docuseries, Reality]",[United States],Disney plus,2021,Bobby Bones travels to meet local heroes who c...,[Bobby Bones],NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
1212,worn stories,TV Show,"[Docuseries, Reality TV]",[United States],Netflix,2021,"In this funny, heartfelt and moving docuseries...",[nan],NaN
860,the platform,TV Show,"[International TV Shows, TV Dramas, TV Myste...",[United Arab Emirates],Netflix,2021,"A programming genius builds a fact-finding, tr...","[Maxim Khalil, Abdulmohsen Alnemr, Samr Isma...",NaN
802,creator's file: gold,TV Show,"[International TV Shows, TV Comedies]",[Japan],Netflix,2021,Comedian Ryuji Akiyama satirizes top “creators...,"[Ryuji Akiyama, Ryusei Yokohama, Yumi Adachi...",NaN
806,pretty guardian sailor moon eternal the movie,TV Show,[TV Shows],[nan],Netflix,2021,When a dark power enshrouds the Earth after a ...,"[Kotono Mitsuishi, Hisako Kanemoto, Rina Sat...",NaN
807,summertime,TV Show,"[International TV Shows, Romantic TV Shows, ...",[Italy],Netflix,2021,Two young adults from very different backgroun...,"[Coco Rebecca Edogamhe, Ludovico Tersigni, A...",3.7

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
9023,villa bella,Movie,Comedy,[nan],Amazon prime,2021,3 unemployed young women's life will forever c...,"[Alessandro Bressanello, Samantha Castillo, ...",NaN
4882,"love, millennial style",TV Show,Comedy,[nan],Amazon prime,2021,A digital anthology comedy series starring a l...,"[Anthony Bradford, Jenna Bowers, Zuri James,...",NaN
9035,phone call,Movie,Comedy,[nan],Amazon prime,2021,Two unknown people who love movies discuss a h...,"[Ravikanth, Prasad]",NaN
9022,y'all not laughing yet?,Movie,Comedy,[nan],Amazon prime,2021,Five comics are trying to use Mr. and Mrs. Wri...,"[Raymelle A Adams, Jennifer Chandler, Joey Z...",NaN
8990,small town remedies,Movie,Comedy,[nan],Amazon prime,2021,Small Town Remedies is a dramatic comedy about...,"[Andrea Dratch, Ty Sells, Sally Knudsen, R....",NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
191,the mighty ducks: game changers,TV Show,Comedy,[nan],Disney plus,2021,A new group of misfits rediscovers the joys of...,[nan],NaN
160,big shot,TV Show,Comedy,[nan],Disney plus,2021,"After being ousted from NCAA, a men’s basketba...","[John Stamos, Jessalyn Gilsig, Yvette Nicole...",NaN
214,flora & ulysses,Movie,Comedy,[United States],Disney plus,2021,Comic book fan Flora saves a squirrel whose su...,"[Matilda Lawler, Alyson Hannigan, Ben Schwar...",NaN
17,far away from raven’s home,Movie,Comedy,[nan],Disney plus,2021,Our gang is off for an exotic vacation of a li...,"[Raven-Symoné, Issac Ryan Brown, Navia Robin...",NaN
20,"doogie kamealoha, m.d.",TV Show,Comedy,[United States],Disney plus,2021,A 16-year-old prodigy juggles her budding medi...,"[Peyton Elizabeth Lee, Emma Meisel, Matthew ...",NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
803,dancing queens,Movie,Comedies,[Sweden],Netflix,2021,A dancer who gets a job cleaning at a struggli...,"[Molly Nutley, Fredrik Quiñones, Marie Göran...",NaN
820,carnaval,Movie,Comedies,[Brazil],Netflix,2021,"After a breakup, an influencer takes her frien...","[Giovana Cordeiro, Gkay, Bruna Inocencio, S...",NaN
868,one lagos night,Movie,Comedies,[nan],Netflix,2021,A desperate man attempts to burglarize the hom...,"[Frank Donga, Gold Ikponmwosa, Ali Nuhu, En...",NaN
799,trippin' with the kandasamys,Movie,Comedies,[South Africa],Netflix,2021,"To rekindle their marriages, best friends-turn...","[Jailoshini Naidoo, Maeshni Naicker, Madhush...",NaN
770,sarbath,Movie,Comedies,[India],Netflix,2021,When a city man returns to his native village ...,"[Kathir, Soori, Rahasya Gorak, Ashvatt]",NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
9461,zana,Movie,[Drama],"[Kosovo, Albania, United States, Georgia]",Amazon prime,2020,Haunted by her long suppressed past and pressu...,"[Adriana Matoshi, Astrit Kabashi, Fatmire Sa...",9.1
6266,delaware shore,Movie,"[Drama, Horror]",[nan],Amazon prime,2018,A Holocaust survivor who escapes the concentra...,"[Francis, Portsmith, Ed Aristone, Emily McK...",9.1
5530,fan,Movie,"[Drama, International, Suspense]",[India],Amazon prime,2016,FAN is the story of Gaurav (Shah Rukh Khan) a ...,"[Shah Rukh Khan, Sayani Gupta, Shriya Pilgao...",9.2
8143,breakout,Movie,"[Action, Suspense]",[nan],Amazon prime,2013,A pair of criminals try to track down the kids...,"[Brendan Fraser, Dominic Purcell, Ethan Supl...",9.0

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
411,hamilton,Movie,"[Biographical, Historical, Musical]",[United States],Disney plus,2020,The filmed version of Broadway original “Hamil...,"[Daveed Diggs, Renée Goldsberry, Jonathan Gr...",8.7
566,the lion king,Movie,"[Action-Adventure, Coming of Age, Drama]","[United States, United Kingdom, South Africa]",Disney plus,2019,Disney’s The Lion King comes to life in a whol...,"[Donald Glover, Seth Rogen, Chiwetel Ejiofor...",8.5
637,coco,Movie,"[Animation, Family, Fantasy]",[United States],Disney plus,2017,Miguel journeys to the magical land of his anc...,"[Anthony Gonzalez, Gael Bernal, Benjamin Bra...",8.4
916,inside out,Movie,"[Animation, Coming of Age, Family]",[United States],Disney plus,2015,Five Emotions must work overtime when a young ...,"[Amy Poehler, Phyllis Smith, Richard Kind, ...",8.1
1369,up,Movie,"[Action-Adventure, Animation, Buddy]",[United States],Disney plus,2009,An unlikely pair set to the sky for the advent...,"[Ed Asner, Christopher Plummer, Jordan Nagai...",8.2

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
2104,baby,TV Show,"[International TV Shows, TV Dramas, Teen TV ...",[Italy],Netflix,2020,"Fed up with their families and classmates, two...","[Benedetta Porcaroli, Alice Pagani, Riccardo...",8.0
3834,uyare,Movie,"[Dramas, International Movies]",[India],Netflix,2019,An aspiring pilot fights for her future – and ...,"[Parvathy, Asif Ali, Tovino Thomas, Siddiqu...",8.0
3472,mallesham,Movie,"[Dramas, Independent Movies, International M...",[India],Netflix,2019,"A self-trained engineer risks debt, love and r...","[Jhansi, Priyadarshi Pullikonda, Ananya Naga...",8.5
3454,brother,Movie,"[Dramas, Independent Movies, International M...",[France],Netflix,2019,Thrust from a violent home into a brutal custo...,"[MHD, Darren Muselet, Aïssa Maïga, Jalil Le...",8.0
3532,oththa seruppu size 7,Movie,"[Dramas, International Movies, Thrillers]",[India],Netflix,2019,"Taken into custody, a murder suspect's theatri...",[Parthiban],8.6

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
8902,voltaire high,TV Show,Drama,France,Amazon prime,2021,It’s the first day of the 1963 school year at ...,"[Pierre Deladonchamps, Nina Meurisse, Maud W...",NaN
8846,brutus vs cesar,Movie,Comedy,France,Amazon prime,2020,Faced with the tyranny of Caesar who acts as a...,"[Kheiron, Thierry Lhermitte, Gérard Darmon, ...",NaN
12,the night eats the world,Movie,"Horror, Suspense",France,Amazon prime,2018,After waking up in an apartment the night afte...,"[Anders Danielsen Lie, Golshifteh Farahani, ...",NaN
3788,"don't worry, he won't get far on foot",Movie,"Arthouse, Comedy, Drama",France,Amazon prime,2018,On the rocky path to sobriety after a life-cha...,"[Joaquin Phoenix, Jonah Hill, Rooney Mara, ...",NaN
9961,moonwalkers,Movie,"Action, Comedy",France,Amazon prime,2015,After failing to locate the legendary Stanley ...,"[Rupert Grint, Ron Perlman, Robert Sheehan]",6.1

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
35,gigantosaurus,TV Show,"Action-Adventure, Animation, Kids",France,Disney plus,2018,Four dinos explore the mystery of the Gigantos...,"[Dylan Schombing, Áine Sunderland, Nahanni M...",NaN
237,700 sharks,Movie,"Animals & Nature, Documentary",France,Disney plus,2018,Follow an international team of scientists in ...,[Paul Bandey],NaN
442,japan: between earth and sky,TV Show,"Animals & Nature, Docuseries",France,Disney plus,2017,Japan: Between Earth and Sky reveals the myste...,[Bray Poor],NaN
14,miraculous: tales of ladybug & cat noir,TV Show,"Action-Adventure, Animation, Fantasy",France,Disney plus,2015,Superheroes Ladybug and Cat Noir protect the c...,"[Cristina Vee, Bryce Papenbrook, Keith Silve...",NaN
100,pj masks,TV Show,"Action-Adventure, Animation, Kids",France,Disney plus,2015,Look out Night Time Baddies the PJ Masks are c...,"[Kyle Breitkopf, Jacob Ursomarzo, Addison Ho...",NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
769,lupin,TV Show,"Crime TV Shows, International TV Shows, TV Act...",France,Netflix,2021,"Inspired by the adventures of Arsène Lupin, ge...","[Omar Sy, Ludivine Sagnier, Clotilde Hesme, ...",NaN
950,oxygen,Movie,"Dramas, International Movies, Thrillers",France,Netflix,2021,"After waking up in a cryogenic unit, Liz fight...","[Mélanie Laurent, Mathieu Amalric, Malik Zidi]",6.1
951,oxygen,Movie,"Dramas, International Movies, Thrillers",France,Netflix,2021,"After waking up in a cryogenic unit, Liz fight...","[Mélanie Laurent, Mathieu Amalric, Malik Zidi]",5.4
1293,dealer,TV Show,"Crime TV Shows, International TV Shows, TV Act...",France,Netflix,2021,Tensions erupt when two filmmakers infiltrate ...,"[Abdramane Diakité, Mohamed Boudouh, Sébasti...",6.3
1294,dealer,TV Show,"Crime TV Shows, International TV Shows, TV Act...",France,Netflix,2021,Tensions erupt when two filmmakers infiltrate ...,"[Abdramane Diakité, Mohamed Boudouh, Sébasti...",6.9

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
8846,brutus vs cesar,Movie,Comedy,France,Amazon prime,2020,Faced with the tyranny of Caesar who acts as a...,Kheiron,NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
338,notre dame: race against the inferno,Movie,Documentary,"United Kingdom, France",Disney plus,2019,"On April 15, 2019, Paris’ firefighters gave ev...",Paul Bandey,NaN
237,700 sharks,Movie,"Animals & Nature, Documentary",France,Disney plus,2018,Follow an international team of scientists in ...,Paul Bandey,NaN

,title,type,listed_in,country,plateforme,release_year,description,cast,avg_vote
6129,einsatzgruppen: the nazi death squads,TV Show,"Docuseries, International TV Shows",France,Netflix,2009,This documentary series examines the Einsatzgr...,Paul Bandey,NaN

None